.backgroundColor{
    -fx-background-color: linear-gradient(to right,rgba(46,54,255,1) 0%, rgba(99,121,241,1) 0%, rgba(126,155,234,1) 9%, rgba(138,170,231,1) 13%, rgba(146,180,229,1) 17%, rgba(158,196,226,1) 23%, rgba(170,211,223,1) 31%);
}

.sideBarColor{
    -fx-background-color: #1e1e1e;
    -fx-background-radius: 40px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 15, 0, 5, 5);
}

.pieBackgroundColor{
    -fx-background-color: #fefefe;
    -fx-background-radius: 40px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 15, 0, 5, 5);
}

.hamburgerStyle{
    -fx-background-color: #1e1e1e;
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 15, 0, 5, 5);
}

.buttonColor{
    -fx-background-color: #2c2c2c;
    -fx-background-radius: 20px;
}

.clickedButtonColor{
    -fx-background-color: linear-gradient(to right, rgba(143,138,255,1) 0%, rgba(116,182,250,1) 48%, rgba(0,212,255,1) 100%);
    -fx-background-radius: 32px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-alignment: center;
}

.menuButtonColor{
    -fx-background-color: #2c2c2c;
    -fx-background-radius: 40px;
}
.filterButtonColor{
    -fx-background-color: #3c3c3c;
    -fx-background-radius: 40px;
    -fx-font-weight: bold;
}
.feathered-border-pane {
    -fx-background-color: transparent;
    -fx-border-width: 5px;
    -fx-border-color: linear-gradient(to bottom, transparent, white);
    -fx-border-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(170,211,223,1), 10, 0, 0, 0);
}

.address-box-style {
    -fx-background-color: #1e1e1e;
    -fx-background-radius: 30px;
    -fx-border-color: #8fddff;
    -fx-border-radius: 27px;
    -fx-border-width: 3px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 15, 0, 5, 5);
    -fx-font: 23 arail; -fx-font-style: normal;
    -fx-text-fill: white;
}

.address-button-style {
    -fx-background-color:  linear-gradient(to right, rgba(0,77,182,1) 0%, rgba(9,112,202,1) 27%, rgba(23,163,231,1) 67%, rgba(34,205,255,1) 100%);
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 15, 0, 5, 5);
    -fx-background-position: left;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-alignment: center-left;
}

.combo-box > .list-cell {
    -fx-text-fill: white;
}

.choice-box > .label {
    -fx-text-fill: white;
}

.address-button-add-style {
    -fx-background-color:  linear-gradient(to left, rgba(25,205,0,1) 0%, rgba(43,203,51,1) 33%, rgba(63,201,107,1) 69%, rgba(81,200,155,1) 100%);
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 15, 0, 5, 5);
    -fx-background-position: left;
}

.address-button-remove-style {
    -fx-background-color:  linear-gradient(to right, rgba(255,94,0,1) 0%, rgba(255,143,12,1) 34%, rgba(255,188,22,1) 100%);
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 15, 0, 5, 5);
    -fx-background-position: left;
}

.inactive-button {
    -fx-background-color:  linear-gradient(to right, #ccc 0%, #999 50%, #666 100%);
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 15, 0, 5, 5);
    -fx-background-position: left;
}

.address-button-style:hover {
    -fx-opacity: 0.5;
}

.address-button-add-style:hover {
    -fx-opacity: 0.5;
}

.address-button-remove-style:hover {
    -fx-opacity: 0.5;
}

.address-button-style:pressed {
    -fx-opacity: 0.7;
}

.address-button-add-style:pressed {
    -fx-opacity: 0.7;
}

.address-button-remove-style:pressed {
    -fx-opacity: 0.7;
}

.red-pane {
-fx-background-color: linear-gradient(to right,rgba(46,54,255,1) 0%, rgba(99,121,241,1) 0%, rgba(126,155,234,1) 9%, rgba(138,170,231,1) 13%, rgba(146,180,229,1) 17%, rgba(158,196,226,1) 23%, rgba(170,211,223,1) 31%);
}

.custom-tool-tip {
    -fx-font-size: 15;
}

.chart-pie-label-line {
    -fx-stroke: #fefefe;
}

.chart-pie-label {
    -fx-fill: #fefefe;
    -fx-font-size: 1em;
}

.chart-title {
    -fx-text-fill: #fefefe;
    -fx-font-size: 1.6em;
}
.default-color0.chart-pie { -fx-pie-color: #22CDFFFF; }
.default-color1.chart-pie { -fx-pie-color: #85ecc5; }
.default-color2.chart-pie { -fx-pie-color: #f3ff8a; }
.default-color3.chart-pie { -fx-pie-color: #f59b62; }
.default-color4.chart-pie { -fx-pie-color: #f163b8; }
.default-color5.chart-pie { -fx-pie-color: #ef505c; }
.default-color6.chart-pie { -fx-pie-color: #3473e7; }
.default-color7.chart-pie { -fx-pie-color: #a363f1; }
.default-color8.chart-pie { -fx-pie-color: #500d77; }
.default-color9.chart-pie { -fx-pie-color: #e1f8ff; }
.default-color10.chart-pie { -fx-pie-color: #71e07a; }






.chart-pie {
    /*-fx-border-color: derive(-fx-pie-color, 0%);*/
    -fx-background-insets: 0;
    -fx-border-width: 0;
    /*-fx-border-width: 0px;*/
}


